@page "/"

<div class="bg-main">
    <Navbar />
    <div class="content px-4">
        <div class="flex-container">
            <img src="images/j_logo.png" style="width: 5em;height: 6em; margin-right: 1em;">
            <div>
                <h1>Jordan Pritt <br> Software Engineer</h1>
            </div>
        </div>
        <div class="flex-container centered">
            <div class="interests-text">
                <p>My Interests:</p>
                <p>@message</p>
            </div>
        </div>
    </div>
</div>
