@import url("https://fonts.googleapis.com/css2?family=Ovo&family=Outfit:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
    --font-outfit: "Outfit", sans-serif;
    --font-ovo: "Ovo", serif;
    --color-light-hover: #fcf4ff;
    --color-dark-hover: #2a004a;
    --color-dark-theme: #11001f;
}

body {
    font-family: var(--font-outfit), sans-serif;
}

/* Because arbitrary flags DO NOT WORK yet in tailwindCSS */
.font-ovo {
    font-family: var(--font-ovo), serif;
}

.font-outfit {
    font-family: var(--font-outfit), sans-serif;
}